<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74089981729-mb47te1ermvbenf4pfc9sokvl3fpvuf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74089981729-mb47te1ermvbenf4pfc9sokvl3fpvuf6</string>
	<key>API_KEY</key>
	<string>AIzaSyBeRJ36AUOx8APKiojuTVqKemuYr88YoWc</string>
	<key>GCM_SENDER_ID</key>
	<string>74089981729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GreenTeaProgrammers.TasQuest</string>
	<key>PROJECT_ID</key>
	<string>tasquest-29956</string>
	<key>STORAGE_BUCKET</key>
	<string>tasquest-29956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74089981729:ios:ee60f039272dc2bda9c060</string>
</dict>
</plist>